<!DOCTYPE html>
<html>
<head>
  <title>Waitlist</title>
  <%= stylesheet_link_tag    "waitlist/application", media: "all" %>
  <%= javascript_include_tag "waitlist/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
