<!DOCTYPE html>
<html>
<head>
  <title>Prelaunch</title>
  <%= stylesheet_link_tag    "prelaunch/application", media: "all" %>
  <%= javascript_include_tag "prelaunch/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
